{# empty Twig template #}
<p>Mensagem enviada por <strong>{{ nome }}</strong> &agrave;s 
    <strong>{{ "now" | date("d/m/Y H:i") }}</strong>.</p>

<p><strong>Curso:</strong> {{ curso }}</p>
<p><strong>Assunto:</strong> {{ assunto }}</p>
<p><strong>Telefone:</strong> {{ telefone }} {% if check is defined %}&Eacute; Whatsapp{% endif %}</p>
<p><strong>Mensagem:</strong></p>
<p>{{ descricao }}</p>