{# empty Twig template #}
<p>Mensagem enviada pelo usu&aacute;rio <strong>{{ nome }}</strong> &agrave;s 
    <strong>{{ "now" | date("d/m/Y H:i") }}</strong>.</p>

<p><strong>Email para resposta:</strong> {{ email }}</p>
<p><strong>Setor:</strong> {{ setor }}</p>
<p><strong>Mensagem:</strong></p>
<p>{{ descricao }}</p>