{# empty Twig template #}
<p>Mensagem enviada por <strong>{{ nome }}</strong> &agrave;s 
    <strong>{{ "now" | date("d/m/Y H:i") }}</strong>.</p>

<p><strong>Tipo de Vaga:</strong> {{ tipo }}</p>
<p><strong>Telefone:</strong> {{ telefone }}</p>
<p><strong>Cidade:</strong> {{ cidade }}</p>
<p><strong>Data de Nascimento:</strong> {{ data }}</p>
<p><strong>CPF:</strong> {{ cpf }}</p>