{% extends "FaSiteBundle:Page:index.html.twig" %}
{% block conteudo %}
{% block menu %}
{{ parent() }}
{% endblock menu %}
<div class="container" id="container-noticia">
    <div class="row">
        <div class="col-md-12">
            <h2 class="titulo-azul-claro">
                <img class="ret-azul-subtitulo" 
                     src="{{ asset('imagens/retangulo-azul-escuro.png') }}" /> {{ pagina.titulo }}</h2>
            {{ pagina.conteudo }}
        </div>
    </div>
</div>
<br />
<br />
<br />
{% block rodape %}
{{ parent() }}
{% endblock rodape %}
{% endblock conteudo %}