{% extends "FaSiteBundle:Page:central.html.twig" %}   
{% block conteudo %}
    <nav class="navbar navbar-default" id="menu">
        <div class="container" id="menu-container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#menu-collapse" aria-expanded="false">
                    <span class="sr-only">Abrir / Fechar Menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand"><a href="{{ path('fa_site_admin_homepage') }}">&Aacute;rea Administrativa</a></span>
            </div>
            <a href="{{ path('fos_user_security_logout') }}" class="navbar-text navbar-right">Sair</a>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center">Par&acirc;metros de Email</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form id="form-info-curso" 
                      action="{{ path('fa_site_admin_parametros_email_cadastra', {'id_parametros_email': parametros.id}) }}" 
                      method="POST" {{ form_enctype(form) }}>
                    {{ form_widget(form) }}
                    <p>
                        <input type="submit" class="btn btn-primary" id="btn-submit-info" value="Alterar" />
                    </p>
                </form>
            </div>
        </div>
    </div>
{% endblock conteudo %}