{# empty Twig template #}
{% extends "FaSiteBundle:Page:central.html.twig" %}   
{% block body %}
    {% block conteudo %}
        <nav class="navbar navbar-default" id="menu">
            <div class="container" id="menu-container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#menu-collapse" aria-expanded="false">
                        <span class="sr-only">Abrir / Fechar Menu</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="navbar-brand"><a href="{{ path('fa_site_admin_homepage') }}">&Aacute;rea Administrativa</a></span>
                </div>
                <a href="{{ path('fos_user_security_logout') }}" class="navbar-text navbar-right">Sair</a>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="text-center">Gerenciamento de Cursos</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form name="form-curso" id="form-curso" method="POST" 
                          action="{{ path('fa_site_admin_cursos_cadastra', {'id_curso': -1}) }}">
                        {{ form_widget(formCurso) }}
                        <input type="submit" value="Cadastrar" class="btn btn-primary" />
                    </form>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover table-striped table-responsive text-center">
                        <thead>
                            <tr>
                                <td>Nome</td>
                                <td>Tipo</td>
                                <td>A&ccedil;&otilde;es</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for curso in cursos %}
                                <tr>
                                    <td>{{ curso.nome }}</td>
                                    <td>{{ curso.tipoCurso.nome }}</td>
                                    <td>
                                        <a class="link-editar" href="#{{ curso.id }}">Editar</a> |
                                        <a class="link-excluir" href="#{{ curso.id }}">Excluir</a> |
                                        <a class="link-info" 
                                           href="{{ path('fa_site_admin_info_curso_form', {id_curso: curso.id}) }}">Cadastrar Informa&ccedil;&otilde;es</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- MODAL EDICAO -->

        <div class="modal fade" id="modal-edicao">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Editar Curso</h4>
                    </div>
                    <div class="modal-body" id="body-edicao">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary" id="btn-editar">Salvar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- MODAL INFO CURSO -->

        <div class="modal fade" id="modal-info">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Cadastrar Informa&ccedil;&otilde;es de Curso</h4>
                    </div>
                    <div class="modal-body" id="body-info">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary" id="btn-editar-info">Salvar</button>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}
    {% block rodape %} {{ parent() }} {% endblock %}
    {% block js %}
        {{ parent() }}
        <script>
            $(document).ready(function () {
                $('.link-editar').click(function () {

                    $id = $(this).attr('href').replace('#', '');
                    $url = '{{ path('fa_site_admin_cursos_form') }}' + "/" + $id;
                    $.ajax({
                        type: 'GET',
                        url: $url,
                        success: function (response) {
                            $('#body-edicao').html(response);
                            $('#modal-edicao').modal('show');
                        }
                    });
                    return false;
                });

                $('.link-excluir').click(function () {

                    var confirm = window.confirm("Deseja realmente excluir o registro?");

                    if (confirm) {
                        $id = $(this).attr('href').replace('#', '');
                        $url = '{{ path('fa_site_admin_cursos_exclui') }}' + "/" + $id;
                        $.ajax({
                            type: 'POST',
                            url: $url,
                            success: function (response) {
                                alert("Registro excluído com sucesso.");
                                location.reload();
                            }
                        });
                    }

                    return false;
                });

                {#$('.link-info').click(function () {

                    $id = $(this).attr('href').replace('#', '');
                    $url = '{{ path('fa_site_admin_info_curso_form') }}' + "/" + $id;
                    $.ajax({
                        type: 'GET',
                        url: $url,
                        success: function (response) {
                            $('#body-info').html(response);
                            $('#modal-info').modal('show');
                        }
                    });
                    return false;
                });#}

            });
        </script>
    {% endblock %}    
{% endblock %}
