<ul class="submenu-principal">
    <li><img class="ret-azul" src="{{ asset('imagens/retangulo-azul-claro.png') }}" /> 
        <a href="#" class="links-submenu-principal">Me Ligue - CRA</a></li>
    <li><img class="ret-azul" src="{{ asset('imagens/retangulo-azul-claro.png') }}" /> 
        <a href="{{ path('fa_site_ouvidoria') }}" class="links-submenu-principal">Ouvidoria</a></li>
    <li><img class="ret-azul" src="{{ asset('imagens/retangulo-azul-claro.png') }}" /> 
        <a href="#" class="links-submenu-principal">#EuSouCesva/Faa</a></li>
    <li><img class="ret-azul" src="{{ asset('imagens/retangulo-azul-claro.png') }}" /> 
        <a href="{{ path('fa_site_trabalhe') }}" class="links-submenu-principal">Trabalhe no CESVA</a></li>
</ul>