<ul class="submenu-principal">
    <li><img class="ret-azul" src="{{ asset('imagens/retangulo-azul-claro.png') }}" /> 
        <a href="{{ path('fa_site_fundamental') }}" class="links-submenu-principal">Ensino Fundamental e M&eacute;dio</a></li>
    <li><img class="ret-azul" src="{{ asset('imagens/retangulo-azul-claro.png') }}" /> 
        <a href="#" class="links-submenu-principal" id="menu-graduacao" 
           data-src="{{ path('fa_site_submenu_graduacao') }}">Gradua&ccedil;&atilde;o</a></li>
    <li><img class="ret-azul" src="{{ asset('imagens/retangulo-azul-claro.png') }}" /> 
        <a href="#" class="links-submenu-principal" id="menu-pos-graduacao" 
           data-src="{{ path('fa_site_submenu_pos_graduacao') }}">P&oacute;s-Gradua&ccedil;&atilde;o</a></li>
    <li><img class="ret-azul" src="{{ asset('imagens/retangulo-azul-claro.png') }}" /> 
        <a href="#" data-src="{{ path('fa_site_submenu_cursos_livres') }}" class="links-submenu-principal" 
           id="menu-cursos-livres">Cursos Livres</a></li>
</ul>