<ul class="submenu-principal">
    <li><img class="ret-azul" src="{{ asset('imagens/retangulo-azul-claro.png') }}" /> 
        <a href="{{ path('fa_site_instituicao') }}" class="links-submenu-principal" id="menu-quem-somos">Quem Somos</a></li>
    <li><img class="ret-azul" src="{{ asset('imagens/retangulo-azul-claro.png') }}" /> 
        <a href="{{ path('fa_site_infra') }}" class="links-submenu-principal">Infraestrutura</a></li>
    <li><img class="ret-azul" src="{{ asset('imagens/retangulo-azul-claro.png') }}" /> 
        <a href="#" class="links-submenu-principal" id="menu-extensao" 
           data-src="{{ path('fa_site_submenu_extensao') }}">Extens&atilde;o Acad&ecirc;mica</a></li>
    <li><img class="ret-azul" src="{{ asset('imagens/retangulo-azul-claro.png') }}" /> 
        <a href="#" class="links-submenu-principal" id="menu-pesquisa" 
           data-src="{{ path('fa_site_submenu_pesquisa') }}">Pesquisa</a></li>
    <li><img class="ret-azul" src="{{ asset('imagens/retangulo-azul-claro.png') }}" /> 
        <a href="{{ path('fa_site_cpa') }}" class="links-submenu-principal">CPA</a></li>
    <li><img class="ret-azul" src="{{ asset('imagens/retangulo-azul-claro.png') }}" /> 
        <a href="#" class="links-submenu-principal" id="menu-localizacao" 
           data-src="{{ path('fa_site_submenu_localizacao') }}">Localiza&ccedil;&atilde;o</a></li>
    <li><img class="ret-azul" src="{{ asset('imagens/retangulo-azul-claro.png') }}" /> 
        <a href="{{ path('fa_site_atendimento') }}" class="links-submenu-principal" id="menu-fale">Atendimento aos Alunos</a></li>
</ul>