<ul class="submenu-principal">
    <li><img class="ret-azul" src="{{ asset('imagens/retangulo-azul-claro.png') }}" /> <a href="#" class="links-submenu-principal" id="menu-noticias" 
           data-src="{{ path('fa_site_submenu_noticias') }}">Not&iacute;cias</a></li>
    <li><img class="ret-azul" src="{{ asset('imagens/retangulo-azul-claro.png') }}" /> <a href="#" class="links-submenu-principal" id="menu-eventos" 
           data-src="{{ path('fa_site_submenu_eventos') }}">Eventos</a></li>
    <li><img class="ret-azul" src="{{ asset('imagens/retangulo-azul-claro.png') }}" /> <a href="#" class="links-submenu-principal">Redes Sociais</a></li>
    <li><img class="ret-azul" src="{{ asset('imagens/retangulo-azul-claro.png') }}" /> <a href="#" class="links-submenu-principal" id="menu-videos" 
           data-src="{{ path('fa_site_submenu_videos') }}">V&iacute;deos</a></li>
</ul>