{% extends "FaSiteBundle:Page:index.html.twig" %}
{% block conteudo %}
{% block menu %}
{{ parent() }}
{% endblock menu %}
<br />
<div class="container" id="container-noticia">
    <div class="row">
        <div class="col-md-12">
            <h2 class="titulo-azul-claro">
                <img class="ret-azul-subtitulo" 
                     src="{{ asset('imagens/retangulo-azul-escuro.png') }}" /> Formul&aacute;rios</h2>
                <p><a href="{{ asset('forms/extensao.doc') }}">Atividades de Extens&atilde;o</a></p>
                <p><a href="{{ asset('forms/cursos-de-extensao.doc') }}">Cursos de Extens&atilde;o</a></p>
                <p><a href="{{ asset('forms/programas-de-extensao.doc') }}">Programas de Extens&atilde;o</a></p>
                <p><a href="{{ asset('forms/semana-academica.doc') }}">Semana Acad&ecirc;mica</a></p>
        </div>
    </div>
</div>
<br />
<br />
<br />
{% block rodape %}
{{ parent() }}
{% endblock rodape %}
{% block submenus %}
    {{ parent() }}
{% endblock %}
{% endblock conteudo %}