{% extends "FaSiteBundle:Page:index.html.twig" %}
{% block conteudo %}
{% block menu %}
{{ parent() }}
{% endblock menu %}
<div class="container" id="container-noticia">
    <div class="row">
        <div class="col-md-12">
            <h3 class="titulo-azul-claro text-left">{{ noticia.titulo|raw }}
                <br />
                <small class="subtitulo-noticia">{{ noticia.resumo|raw }}</small>
            </h3>
            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <p>Escrito por Assessoria de Comunica&ccedil;&atilde;o</p>
                </div>
                <div class="col-md-6 col-xs-6">
                    <p class="text-right">Postado &agrave;s {{ noticia.ultimaAlteracao|date('d/m/Y H:i:s') }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% if noticia.imagem|default('') != '' %}
            <div class="col-md-8">
                {{ noticia.descricao|raw }}
            </div>
            <div class="col-md-4">
                <img src="{{ asset('uploads/noticia/'~noticia.imagem) }}" class="img-noticia" />
            </div>
        {% else %}
            <div class="col-md-12">
                {{ noticia.descricao|raw }}
            </div>
        {% endif %}
        
    </div>
    <div class="row" id="linha-social">
        <div class="col-md-12">
            <div id="social"></div>
        </div>
    </div>
</div>
<br />
<br />
<br />
{% block rodape %}
{{ parent() }}
{% endblock rodape %}
{% block submenus %}
    {{ parent() }}
{% endblock %}
{% endblock conteudo %}
{% block js %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" 
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.min.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.css" />
    <link type="text/css" rel="stylesheet" 
          href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials-theme-flat.css" />
    <script type="text/javascript">
        $(document).ready(function(){
            $('#social').jsSocials({
                shares: ["twitter", "facebook", "googleplus"]
            });
        });
    </script>
{% endblock js %}